<!DOCTYPE html>
<html>
    <head>
        <title> Adrene! </title>
        <style>
            
            .body{color: green;}
            
        </style>
    </head>
    
    <body class="body">
        
        <h1>CONTACT FORM</h1>
        <p> Fill in this form to conatct the site owners.
            <br>
            Name
        </p>
        <form>
            Please enter your full name
            <br>
            <input type="text" name="fullname">
            <br><br>
            
            Email
            <br><br>
            Please enter your e-mail address
            <br>
            <input type="text" name="email">
            <br><br>
            
            Subject
            <br><br>
            <input type="text name="email">
            <br><br>
            
            Message
            <br><br>
            Please enter the message you want to send
            <br>
            <input type="text" name="msg" size="35">
            <br><br>
            
            <input type="submit" value="Send">
            
        </form>
        
     
    
</html>
    
    
    
